<i *ngIf="showImage === false" class="spinner fa fa-spinner fa-spin"></i>
<div (deferLoad)="showImage = true">
  <ng-container *ngIf="showImage">
    <img onError="this.src='./assets/no_image.svg';" [src]=imageData.thumbnailUrl>
    <div class="title">
      {{imageData.title}}
    </div>
  </ng-container>
</div>

