@import "../../../variables";

:host {
  width: 150px;
  height: 150px;
  margin: 5px;
  position: relative;
  min-width: 100px;
  min-height: 100px;
  cursor: pointer;
  border: 1px solid #d0d0d0;
  border-radius: 5px;

  .spinner{
    color: grey;
    position: absolute;
    font-size: 24px;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .title{
    padding: 5px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 1px;
    background-color: #000000cc;
    color: white;
  }

  @media screen and (max-width: $mobile-width) {
    width: $image-grid-width-mobile;
    height: auto;
  }
}

