@import "../../../variables";

:host {

  div {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 50px 0;

    input {
      width: 500px;
      height: 40px;
      padding-left: 10px;
      font-size: 16px;
      border: none;
    }

    button {
      color: $cancel-btn-color;
      border-radius: 5px;
      font-size: 16px;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  @media screen and (max-width: $mobile-width) {
    div {
      margin: 0;
      background-color: $search-box-bg;
    }
    input {
      width: 100% !important;
      justify-content: flex-start;
      height: 30px !important;
      font-size: 0.5em;
      font-size: 12px !important;
    }

    button {
      font-size: 12px !important;
    }
  }

  @media screen and (min-width: $mobile-width) {
    input{
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    }
  }

}
