<ngb-pagination *ngIf="pagesAmount > 0" [rotate]="true" [ellipses]="true" [boundaryLinks]="false" [collectionSize]="pagesAmount" [maxSize]="5"
                [(page)]="pageNumber" (pageChange)="onPageChange()" class="d-flex justify-content-center" aria-label="Default pagination"></ngb-pagination>

<div class="images-container">
  <p *ngIf="noMatch">There are no images matching the search.</p>
  <ng-container *ngIf="page">
    <ng-container *ngIf="page.images.length > 0">
      <app-image-tile *ngFor="let image of page.images" [imageData]="image"
                     (click)="openModal(image)"></app-image-tile>
    </ng-container>
  </ng-container>
</div>



