@import "../../../variables";

:host {

  display: flex;
  flex-direction: column;
  align-items: center;

  ngb-pagination {
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .images-container {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    p {
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (min-width: $mobile-width) {
    flex-direction: column-reverse !important;
    justify-content: center;
    .images-container {
      padding: 0 20px;
    }
  }
}
