//mobile
$mobile-width: 480px;

//search-box
$search-box-bg: #c5c5c5;
$cancel-btn-color: #007bff;

//image-tile
$image-grid-width-mobile: calc(33.3% - 10px);
$mask-bg: black;
$mask-color: white;










